# --- App ---
PORT=8080
# development | production
APP_ENV=development
JWT_SECRET=cambia-esto-por-un-secreto-seguro

# --- PostgreSQL ---
POSTGRES_USER=accesspath
POSTGRES_PASSWORD=cambia-esto
POSTGRES_DB=accesspath_db

# Usada por la app directamente (dev local, apunta a la ip)
DATABASE_URL=postgres://accesspath:cambia-esto@192.168.1.149:5432/accesspath_db?sslmode=disable

# --- Redis ---
# DEV  → redis://192.168.1.149:6379
# PROD → redis://redis:6379
REDIS_URL=redis://192.168.1.149:6379

# --- MinIO ---
# DEV  → 192.168.1.149:9000
# PROD → minio:9000
MINIO_ENDPOINT=192.168.1.149:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=cambia-esto
MINIO_BUCKET=accesspath
MINIO_USE_SSL=false
